{%extends "medirec/layout.html"%}

{% block body %}
<div class="page-div dash-page">
    {% if form %}
    <div class="dash-container">
        <div class="dash-options-panel">
            <a class=" dash-option" id="all-patients" >All Patients</a>
            <a class="dash-option" id="my-patients" href="">My Patients</a>
            <a class="dash-option" href="{% url 'add_patient' %}">New Patient</a>  
        </div>
        <div class="dash-data-panel">
            <form class="visit-details-container" action="{% url 'register_patient' %}" method="post">
                {% csrf_token %}
                    <div class="vital-details-container">
                        <div class="visit-details" style="margin-right: 4px;">                 
                            <strong class="detail-lable">{{form.first_name.label_tag}}</strong>   
                            {{form.first_name}}
                        </div>
                        <div class="visit-details" style="margin-left: 4px;">                 
                            <strong class="detail-lable">{{form.last_name.label_tag}}</strong>   
                            {{form.last_name}}
                        </div> 
                    </div> 
                    <div class="vital-details-container">
                        <div class="visit-details" style="margin-right: 4px;">                 
                            <strong class="detail-lable">{{form.patient_id.label_tag}}</strong>   
                            {{form.patient_id}}
                        </div>
                        <div class="visit-details" style="margin-left: 4px;">                 
                            <strong class="detail-lable">{{form.date_of_birth.label_tag}}</strong>   
                            {{form.date_of_birth}}
                        </div> 
                    </div> 
                    <div class="vital-details-container">
                        <div class="visit-details" style="margin-right: 4px;">                 
                            <strong class="detail-lable">{{form.contact.label_tag}}</strong>   
                            {{form.contact}}
                        </div>
                        <div class="visit-details" style="margin: 0 4px; ">                 
                            <strong class="detail-lable">{{form.email.label_tag}}</strong>   
                            {{form.email}}
                        </div> 
                        <div class="visit-details" style="margin-left: 4px;">                 
                            <strong class="detail-lable">{{form.address.label_tag}}</strong>   
                            {{form.address}}
                        </div> 
                    </div>
                    <div class="vital-details-container">
                        <div class="visit-details" style="margin-right: 4px;">                 
                            <strong class="detail-lable">{{form.gender.label_tag}}</strong>   
                            {{form.gender}}
                        </div>
                        <div class="visit-details" style="margin-left: 4px;">                 
                            <strong class="detail-lable">{{form.blood_type.label_tag}}</strong>   
                            {{form.blood_type}}
                        </div> 
                    </div>  
                    <div class="vital-details-container">
                        <div class="visit-details">
                            <strong class="detail-lable">{{form.allergies.label_tag}}</strong>   
                            {{form.allergies}}                        
                        </div>
                    </div>
                    <div class="vital-details-container">
                        <a class="visit-details visit-form-button" href="{% url 'index' %}">Cancel</a>
                        <!--<input class="visit-details visit-form-button" type="button" value="Cancel">-->
                        <input class="visit-details visit-form-button" type="submit" value="Register Patient">
                    </div>

            </form>
        </div>
    </div>

    {%elif patients %}
    <div class="dash-container">
        <div class="dash-options-panel">
            <a class=" dash-option" id="all-patients">All Patients</a>
            <a class="dash-option" id="my-patients" href="">My Patients</a>
            <a class="dash-option" href="{% url 'add_patient' %}">New Patient</a>  
        </div>
        <div class="dash-data-panel">
            <div class="dash-data-grid">
            {% for patient in patients %}                 
                <a class="patient-card" href="{% url 'view_file' patient_id=patient.user.id %}">
                    <div >      
                        <div class="patient-card-image">

                        </div>   
                        <h4 style="text-align: center;">{{patient.user.first_name}} {{patient.user.last_name}}</h4>
                    </div>                  
                </a>
            {% endfor %}
            </div>
        </div>       
        
    </div>
    {% elif patient %}

    <div class="dash-container">
        <div class="dash-options-panel">
            <div class="patient-profile">
                <div class="patient-image">

                </div>
                <h2 class="dash-data-heading patient-name">{{patient.user.first_name}} {{patient.user.last_name}}</h2>
            </div>
            <div class="dash-options-container">
                <a href="" data-patient-id="{{patient.patient_id}}" id="patient-info" class="dash-option">Patient Info</a>
                <a href="" data-patient-id="{{patient.patient_id}}" id="edit-patient-info"  class="edit-button dash-option">Edit Patient Info</a>
                <a data-url="{% url 'remove_patient' patient_id=patient.patient_id %}" id="delete-user" class="dash-option delete-button">Delete Patient</a>
                <a href="" data-patient-id="{{patient.patient_id}}" id="patient-visits" class="dash-option">Visits</a>
                <a href="{% url 'visit' patient_id=patient.patient_id %}" class="edit-button dash-option">New Visit</a>

            </div>

        </div>
        {% if new_visit %}
        <div class="dash-data-panel">
            <form class="visit-details-container" id="new-visit-form" method="post" action="{% url 'save_visit' patient_id=patient.patient_id%}" class="form-container">
                {% csrf_token %}
                {% for field in visit_form %}
                    {% if field.name == 'reason' %}
                        <div class="visit-details">
                            <strong class="detail-lable">{{field.label}}</strong>
                            {{field}}
                        </div>
                        
                            <div class="vital-details-container">
                                {% for field in vitals_form %}
                                <div class="details vital-details">
                                    <strong class="detail-lable">{{field.label}}</strong>
                                    {{field}}
                                </div>
                                {% endfor %}
                            </div>
                            
                        
                    {% else %}
                        <div class="visit-details">
                            <strong class="detail-lable">{{field.label}}</strong>
                            {{field}}
                        </div>
                    {% endif %}
                {% endfor %}
                
                <div class="home-actions-div">
                    <input type="button" data-patient-id="{{patient.patient_id}}" class="dash-option visit-form-button cancel-button" id="cancel-visit-button" value="Cancel Visit">
                    <input type="submit" class="dash-option visit-form-button confirm-button" value="save Visit">
                </div>
            </form>
            
        </div>
        {% elif visit %}
        <div class="dash-data-panel">
            <div class="visit-details-container" id="patient-visit-details">
                <h6>Visit Details</h6>
                <div class="visit-details">
                    <div class="detail-lable">
                        <strong >Reason for visits</strong>
                    </div>
                    <div class="detail-value">
                        <small>{{visit.reason}}</small>
                    </div>
                </div>
                <div class="vital-details-container">
                    <div class="details vital-details">
                        <div class="detail-lable">
                            <strong>BP</strong>
                        </div>
                        <div class="detail-value">
                            <small>{{vitals.blood_pressure}}</small>
                        </div>
                    </div>
                    <div class="details vital-details">
                        <div class="detail-lable">
                            <strong>Temp</strong>
                        </div>
                        <div class="detail-value">
                            <small>{{vitals.temperature}}</small>
                        </div>
                    </div>
                    <div class=" details vital-details">
                        <div class="detail-lable">
                            <strong>Pulse</strong>              
                        </div>
                        <div class="detail-value">
                            <small>{{vitals.heart_rate}}</small>
                        </div>
                    </div>
                    <div class=" details vital-details">
                        <div class="detail-lable">
                            <strong>RR</strong>              
                        </div>
                        <div class="detail-value">
                            <small>18</small>
                        </div>
                    </div>
                </div>
                <div class="visit-details">
                    <div class="detail-lable">
                        <strong>Diagnosis</strong>
                    </div>
                    <div class="detail-value">
                        <small>{{visit.diagnosis}}</small>
                    </div>
                </div>
                <div class="visit-details">
                    <div class="detail-lable">
                        <strong>Treatment</strong>
                    </div>
                    <div class="detail-value">
                        <small>{{visit.treatment}}</small>
                    </div>
                </div>
                <div class="visit-details">
                    <div class="detail-lable">
                        <strong>Notes</strong>
                    </div>
                    <div class="detail-value">
                        <small>{{visit.notes}}</small>
                    </div>
                </div>
                
            </div>

        </div>

        {% elif visits %}
        <div class="dash-data-panel">
            <h4>Patient Visits</h2>
                <table class="visit-details-container visits-table">
                    <thead class="table-head">
                        <th>Reason for Visit</th>
                        <th>Date</th>
                        <th>Doctor</th>
                    </thead>
                    <tbody class="table-body">
                    {% for visit in visits %}
                       
                        <tr class="details">
                            <td><a  href="{% url 'view_visit' visit_id=visit.id %}">{{visit.reason}}</a></td>
                            <td><a  href="{% url 'view_visit' visit_id=visit.id %}">{{visit.visit_date}}</a></td>
                            <td><a  href="{% url 'view_visit' visit_id=visit.id %}">{{visit.doctor}}</a></td>                            
                        </tr>
                        
                    {% endfor %}
                    </tbody>
                </table>
        </div>

        {% else %}
        <div class="dash-data-panel">
            <div class="patient-details-container" id="patient-info-panel">
                <h4 class="dash-data-heading">Personal details</h2>
                <div class="details">                 
                    <strong class="detail-lable">Name:</strong>   
                    <small class="detail-value">{{patient.user.first_name}} {{patient.user.last_name}}</small>
                </div>
                <div class="details">                 
                    <strong class="detail-lable">ID number</strong>   
                    <small class="detail-value">{{patient.patient_id}}</small>
                </div>
                <div class="details-container">
                    <div class=" details patient-detail">
                        <strong class="detail-lable">Contact</strong>
                        <small class="detail-value">{{patient.contact}}</small>
                    </div>
                    <div class=" details patient-detail">
                        <strong class="detail-lable">Email</strong>
                        <small class="detail-value">{{patient.user.email}}</small>
                    </div>
                    <div class=" details patient-detail">
                        <strong class="detail-lable">Address</strong>
                        <small class="detail-value">{{patient.address}}</small>
                    </div>
                </div>
                <div class="details-container">
                     <div class=" details patient-detail">
                        <strong class="detail-lable">Gender</strong>
                        <small class="detail-value">{{patient.gender}}</small>
                    </div> 
                    <div class=" details patient-detail">
                        <strong class="detail-lable">Blood Type</strong>
                        <small class="detail-value">{{patient.blood_type}}</small>
                    </div>                  
                </div>
                <div class="details">                 
                    <strong class="detail-lable">Allergies</strong>   
                    <small class="detail-value">{{patient.allergies}}</small>
                </div>
            </div>
        </div> 
        {% endif %}      
        
    </div>

    {% endif %}

</div>
{% endblock %}