{%extends "medirec/layout.html"%}
{%load static%}

{% block body%}
    <!--Home Page-->
    <div class="page-div" id="home">
        <div class="home-body-div">
            <div class="home-welcome-header">MadiRec.</div>
            <div class="welcome-message-div">Giving you easy, secure access to your madical records. anywhere, anytime!!</div>
            <div class="home-actions-div">
                <a href="{% url 'login_form' %}" class="home-actions">Log in</a>
                <a href="{% url 'register' %}" class="home-actions"> Register</a>
                <a href="" class="home-actions">Learn more</a>
            </div>
        </div>
    </div>
    <!--Services Page-->
    <div class="page-div" id="services">
        <div class="services-container">
            <div class=" services services-doctors">
                <div class="services-heading">Doctors.</div>
                <div class="services-message doctor-services">A secure solution for patient records filing that allows you to create and manage records from anywhere</div>
            </div>
            <div class="services services-patients">
                <div class="services-heading">Patients.</div>
                <div class="services-message patient-services">Instant access to view your medical records and reports</div>
            </div>
        </div>
    </div>

    <!--About Page-->
    <div class="page-div" id="about">
        <div class="about-container">
            <div class="about-heading"> About MadiRec.</div>
            <p class="about-message">
                MadiRec is a secure web platform designed to help doctors manage patient records. This system medical professionals to create, view, update, and delete patient files, record diagnoses, track treatment plans, and organize medical notes, all in one place.
                Our emphasise on simplicity, privacy, and functionality, ensures that patient information is well structured and accessible only to the assigned doctor. With features medical history tracking, and patient search, the application streamlines the record keeping process for healthcare providers.
            </p>
        </div>
    </div>
    {% endblock %}
    
</body>
</html>