{%extends "medirec/layout.html"%}
{% block body %}
<div class="page-div" id="login">
    <div class="login-form-container">
        {% if not username %}
        <form class="login-form" action="{% url 'password_form' %}" method="post">
            {%csrf_token%}
            <p class="user-input-note">please enter a username, email address, ID number that is associated to your account or file!</p>
            <input type="hidden" name="username" value="{{username}}">
            {{form.as_table}}
            <input class="username-submit input" type="submit" value="next">
            <div class="sign-up-promp">
                <p class="sign-up-note">If you're a DOCTOR create an account here <a href="{% url 'registration_form'%}" class="sign-up-link"> Sign Up</a></p>
                
            </div>
        </form>
                    
        {%else%}
        <form action="{% url 'login' %}" method="post" class="login-form">
            {%csrf_token%}
            <h4 class="user-input-note">Hello! {{username}}</h4>
            <input type="hidden" name="username" value="{{username}}">
            <p class="user-input-note">Please enter your password to login</p>
            {{login_form.as_table}}
            <input class="password-submit input" type="submit" value="Login">
        </form>
        {%endif%}
    </div>
</div>
{% endblock %}