{%extends "medirec/layout.html"%}
{% block body %}
<div class="page-div" id="register">
    <div class="login-form-container form-container">
        <form class="register-form" action="" method="post">
            {{form.as_table}}
            <input class="username-submit input" type="submit" value="next">
            <div class="sign-up-promp">
                <p class="sign-up-note">Already have an account? login here <a href="{% url 'username_form'%}" class="sign-up-link"> Login</a></p>
                
            </div>
        </form>
    </div>
</div>
{% endblock %}