{%extends "medirec/layout.html"%}
{% block body %}
<div class="page-div" id="register">
    <div class="dash-container">
        <form class="register-form visit-details-container " action="{% url 'register'%}" method="post">
            {% csrf_token %}
                <div class="vital-details-container">
                    <div class="visit-details" style="margin-right: 4px;">                 
                        <strong class="detail-lable">{{form.first_name.label_tag}}</strong>   
                        {{form.first_name}}
                    </div>
                    <div class="visit-details" style="margin-left: 2px;">                 
                        <strong class="detail-lable">{{form.last_name.label_tag}}</strong>   
                        {{form.last_name}}
                    </div> 
                </div>
                <div class="visit-details">
                     <strong class="detail-lable">{{form.specialization.label_tag}}</strong>{{form.specialization}}
                </div>
                <div class="visit-details">
                     <strong class="detail-lable">{{form.email.label_tag}}</strong>{{form.email}}
                </div>
                <div class="visit-details">
                     <strong class="detail-lable">{{form.username.label_tag}}</strong>{{form.username}}
                </div>
                <div class="visit-details">
                     {{form.password1}}
                </div>
                <div class="visit-details">
                     {{form.password2}}
                </div>
        
            <input class="username-submit input" type="submit" value="Sign Up">
            <div class="sign-up-promp">
                <p class="sign-up-note">Already have an account? login here <a href="{% url 'username_form'%}" class="sign-up-link"> Login</a></p>
                
            </div>
        </form>
    </div>
</div>
{% endblock %}